a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
